@import "@styles/mixins.module.scss";
@import "@styles/variables.module.scss";

.container {
  @include flex_box_custom(center, flex-start, 25px);
  margin-top: 20px;
  padding: 20px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;

  img {
    width: 70px;
  }
  .boxContent {
    @include flex_box_custom(center, flex-start, 10px);
    flex-direction: column;
    .title {
      font-size: 15px;
      color: $primary_color;
      cursor: pointer;
    }
    .price {
      font-size: 14px;
      color: $third_color;
    }
  }
  &:hover {
    background-color: #f7f7f7;
    .boxCloseIcon {
      transform: translateX(0px);
    }
  }
  .boxCloseIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transform: translateX(30px);
    transition: transform 0.5s ease;
  }
}
